h3 {
  margin-top: 3%;
  font-size: 1.3vw;
  color: var(--eduguide_blue);
  text-align: center;
  margin-bottom: 0.5%;
}
.question {
  background-color: var(--eduguide_blue);
  color: white;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
}

.gen-label {
  margin-left: 1%;
  color: white;
}

.gen-desc {
  color: var(--eduguide_orange);
  font-size: 1.5vw;
  width: auto;
  height: 1vw;
  margin-left: 0%;
  float: left;
  line-height: normal;
}
.gen-desc-area{
  width:90%;
}

.gen-deschead {
  color: var(--eduguide_blue);
  font-size: 1.8vw;
  width: 90%;
  height: auto;
  font-weight: bold;
}

.test-input {
  background-color: var(--eduguide_orange);
  size: 2vw;
  float: left;
}

input.test-input {
  width: 2.05vw;
  height: 2.05vw;
}

h2,
h3 {
  font-size: 2.05vw;
  color: var(--eduguide_blue);
}

.ques-count {
  font-size: 2.05vw;
  font-weight: 800;
  color: var(--eduguide_orange);
}

.question-count {
  background-color: var(--eduguide_orange);
  border: none;
  border-radius: 3vw;
  font-size: 30px;
  font-weight: bold;
  width: 15%;
  padding-top: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  margin-bottom: 2%;
}
.retake-btn{
  font-size: 300%;
  background-color: var(--eduguide_orange);
  border-radius: 50px;
  padding: 10px;
  color: white;
}
.retake-btn:hover{
  font-size: 320%;
}
.question-text{
  background-color: var(--eduguide_blue);
  color: white !important;
  border: none;
  border-radius: 3vw;
  font-weight: bold;
  width: 60%;
  padding-top: 1.5%;
  padding-right: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 1.5%;
  margin-bottom: 1.5%;
  font-size: 30px;
}
.courses-title {
  background-color: var(--eduguide_blue);
  color: white !important;
  border: none;
  border-radius: 3vw;
  font-weight: bold;
  width: 60%;
  padding-top: 1.5%;
  padding-right: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 1.5%;
  margin-bottom: 1.5%;
  font-size: 1vw;
}

.courses-column {
  font-size: 0.2vw;
  width: 10%;
}

.courses-btn {
  background-color: var(--eduguide_orange);
  color: var(--eduguide_blue);
  border: none;
  border-radius: 3vw;
  font-weight: bold;
  width: 70%;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  margin-bottom: 2%;
  font-size: 1.2vw;
}
.courses-btn:hover {
  background-color: var(--eduguide_blue);
  color: white;
  transition: 1s;
}

.course-table {
  width: 100%;
}

.answer-section {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1); /* IE */
  -moz-transform: scale(1); /* FF */
  -webkit-transform: scale(1); /* Safari and Chrome */
  -o-transform: scale(1); /* Opera */
  transform: scale(1);
  padding: 5px;
  /* border-radius: 3px; */
  /* filter: invert(100%) hue-rotate(20deg) brightness(1); */
}
/* .answer-section button{

  font-size: 30px;
  color: white;
  background-color: var(--eduguide_blue);
  border-radius: 30px;
} */
.multiple-choice{
  background-color: var(--eduguide_blue);
  color: white;
  margin-bottom: 1%;
  /* height: 100px; */
  width: 35%;
  font-size: 150%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
}
.answer-section button:hover{

 color: var(--eduguide_orange);
}
.survey_button{
  font-size: 50px;
  color: white;
  background-color: var(--eduguide_blue);
  margin-left: 50px; 
  margin-right: 50px; 
  border-radius: 8px;
  width: 100px;
  height: 100px;
  /* padding: 5; */
}
.survey_button:hover{
  
  color: var(--eduguide_orange);
 
}

.button {
  width: 13%;
  font-size: 1.5vw;
  background-color: #ffb772;
  font-style: var(--eduguide_blue);
}
