h1 {
	display: block;
	font-family: Ruda;
	font-size: 4vw;
	color: var(--eduguide_blue) !important;
	text-align: center;
	/* margin-top: 2%;
	margin-bottom: -0.1%; */
	font-weight: 600 !important;
}
.card-size{
	margin-right: -22%;
	width: 100%;
	}
/* th, td {
	padding: 15px;
  } */
  table {
	  
	border-spacing: 30px;
  }
  .logo_view{
	  background-color: white;
	border-radius: 300px;
	margin-left: 20px;
	height: 70px;
	width: 70px
  }

p {
	
	font-family: Ruda;
	font-size: 1.5vw;
	color: var(--eduguide_blue) !important;
	text-align: center;
	margin-top: 2.5%;
	font-weight: 400 !important;
}
.break{
	max-width: 80%;
}

.about__link {
	cursor: pointer;
	font-size: 2vw;
	transition: 0.2s;
	text-decoration: none;
	margin-top: -9vw;
	color: white;
}
.feed-back-label{
		
	color: var(--eduguide_blue);
}

.about__link:hover {
	color: #f19336;
}

.devs img {
	margin-left: 5%;
	width: 17%;
	height: 17%;
	margin-top: 2.5%;
}
/* .devs strong {
	position: relative;

	

	
} */
.contact-us-box {
	width: 32%;
	height: 250px;
	border: 2px solid var(--eduguide_orange);
  }
  .contact-us-box text{
	margin-left: 10%;
	color: var(--eduguide_blue);
  }
  .contact-us-box a{
	display: block;
	margin-left: 5%;
	margin-top: 1%;
	
  }
  .social-icons {
	display: inline-block;
	/* padding: 2%; */
	/* margin-left: 10px; */
	/* margin-top: 2%; */
	
	width: 10%;
}
.page-desc{
	font-size: 30px;
	color: var(--eduguide_blue);
}
.card-br{
	display: none;
}

.names-ul {
	list-style-type: none;
	margin-bottom: 7vw;
	font-family: Ruda;
	font-size: 1.3vw;
	color: var(--eduguide_blue);
	text-align: center;
	margin-left: -9%;
}
.names-ul li {
	display: inline-flex;
	margin-left: 6.2%;
}

h6 {
	font-family: Ruda;
	font-size: 1.6vw;
	/* margin: -4vw; */
	color: var(--eduguide_blue);
	text-align: center;
}

.sub-btn {
	height: 50px;
	font-family: Ruda;
	font-size: 15px;
	background-color: white;
	color: var(--eduguide_blue);
	padding: 5px 15px;
	border: solid var(--eduguide_orange);
	border-radius: 10px;
	font-weight: 600;
}
.sub-btn-blog {
	font-family: Ruda;
	font-size: 1vw;
	/* background-color: var(--eduguide_orange); */
	color: var(--eduguide_blue);
	padding: 0.2vw 1vw;
	margin-left: 52%;
	margin-top: -10%;
	background-color: white;
	/* width: ; */
	border-width: unset;
	border-color: var(--eduguide_orange);
	border-radius: 0.7vw;
	font-weight: bold;
}
.field {
	font-family: Ruda;
	font-size: 1.55vw;
	background-color: peachpuff;
	color: var(--eduguide_blue);
	/* margin-left: 5%; */
	margin-bottom: 1vw;
	border-top: none;
	border-right: none;
	border-left: none;
	border-width: unset;
	width: 25%;
	border-color: var(--eduguide_blue);
	display: inline-block;
}

.blog-field {
	font-family: Ruda;
	font-size: 1.65vw;
	color: var(--eduguide_blue);
	margin-top: 2.5%;
	width: 60%;
	height: 7em;
	border: thick;
	border-color: var(--eduguide_blue);
	border-style: solid;
	text-align: initial;
}

.line {
	width: 75%;
	margin-bottom: 1vw;
}

.contact-field {
	
	font-size: 1.65vw;
	color: var(--eduguide_blue);
	width: 70%;
	/* height: 5em; */
	border: 2px;
	border-color: var(--eduguide_blue);
	border-style: solid;
	text-align: initial;
}
.contact-field-area {
	
	font-size: 1.65vw;
	color: var(--eduguide_blue);
	width: 70%;
	height: 5em;
	border: 2px;
	border-color: var(--eduguide_blue);
	border-style: solid;
	text-align: initial;
}
.contact-form strong{
	font-size: 30px;
}
.contact-form{
	width: 45%;
	margin-right: 13%;
}


.rounded-yellow-btn{
	position: absolute;
	border-radius: 70px;
	/* border: 2px ; */
	font-size: 1.55vw;
	color:#16367c;
	font-weight: bold;
	margin-top: -25px;
	margin-left: 20px;
	/* font-weight: bold; */
	/* background-color: var(--eduguide_blue); */
	background-color: var(--eduguide_orange);
	padding: 5px 20px;
}
.profile-button{
	/* position: absolute; */
	border-radius: 70px;
	/* border: 2px ; */
	font-size: 100%;
	color:#ffffff;
	font-weight: bold;
	margin-top: -25px;
	margin-left: 2%;
	/* font-weight: bold; */
	/* background-color: var(--eduguide_blue); */
	background-color: #16367c;
	padding: 5px 20px;
}

.test-btn {
	border-radius: 25px;
	border: 2px solid ;
	font-size: 1.55vw;
	font-weight: bold;
	/* background-color: var(--eduguide_blue); */
	color: var(--eduguide_blue);
	padding: 0.9vw 2vw;
	/* border: none; */
}
.intro-edu {
	width: 60%;
}

.intro-col {
	width: 58%;
}

.img-about {
	width: 100%;
	height: 100%;
}

.faqsbox {
	padding-left: 50px;
	padding-right: 50px;
	
	border-left: solid white;
	border-right: solid white;
	border-width: 100px;
	text-align: center;
	
    /* border:2px solid green; */
    width:50%;
    float:left;
    height:100%;
	
	
	background: #ffc78f;
}
.faq1 {
	font-size: 20px;
	
}
.faqsbox b{
	font-size: 25px;
}

.faqstable {
	
	width:85%;
    max-width:2000px;
    /* border:2px solid black; */
    margin: 0 auto;
    padding:10px;
	height:100%;
	max-height: 2000px;
}

.faqstd {
	
	width: 50%;
	padding: 6px;
}

.commfield {
	font-size: 1.2vw;
	color: var(--eduguide_blue);
	width: 60%;
	height: 60%;
	border: thin;
	border-color: var(--eduguide_blue);
	border-style: solid;
	text-align: initial;
	margin-left: -40px;
}

.commdiv {
	display: flex;
	justify-content: center;
}

.commicon {
	width: 140px;
	
	margin-left: -20px;
}

.postbtn {
	cursor: pointer;
	font-size: 20px;
	transition: 0.2s;
	font-weight: bold;
	text-decoration: none;
	color: var(--eduguide_blue);
	background-color: white;
	border: solid var(--eduguide_orange);
	margin-left: 60%;
	border-radius: 10px;
}

.postbtn:hover {
	color: var(--eduguide_orange);
}

.commentbtn {
	cursor: pointer;
	position: absolute;
	font-size: 1.5vw;
	transition: 0.2s;
	text-decoration: none;
	color: var(--eduguide_blue);
	background-color: white;
	border: none;
	margin-left: -24%;
}
.sharebuttton {
	position: relative;
	cursor: pointer;
	/* position: relative; */
	font-size: 1.5vw;
	transition: 0.2s;
	text-decoration: none;
	color: var(--eduguide_blue);
	background-color: white;
	border: none;
	margin-left: -13%;
}
.community_btn{
	margin-bottom: 1;
	width: 75%;
}

.commentbtn:hover {
	color: var(--eduguide_orange);
}

.sharebtn {
	
	position:absolute;
	cursor: pointer;
	font-size: 1.5vw;
	transition: 0.2s;
	text-decoration: none;
	color: var(--eduguide_blue);
	background-color: white;
	border: none;
	margin-left: 15px;
}

.sharebuttton:hover {
	color: var(--eduguide_orange);
}

.deletebtn {
	cursor: pointer;
	font-size: 1.5vw;
	transition: 0.2s;
	text-decoration: none;
	color: var(--eduguide_blue);
	background-color: white;
	border: none;
	margin-left: 210px;
}

.deletebtn:hover {
	color: var(--eduguide_orange);
}
.rounded-red-button{
	position: absolute;
	border-radius: 70px;
	
	/* border: 2px ; */
	font-size: 20px;
	color:#ffffff;
	/* font-weight: bold; */
	/* margin-top: -25px; */
	/* margin-right: 1px; */
	margin-left: 3500%;
	/* font-weight: bold; */
	/* background-color: var(--eduguide_blue); */
	background-color: red;
	padding: 5px 20px;

}

.comm_entry {
	font-size: 20px;
	color: var(--eduguide_blue);
	width: 60%;
	height: 60%;
	border: thin;
	border-color: var(--eduguide_blue);
	text-align: initial;
	background: #ffc78f;
	
}

.about__table {
	border-collapse: separate;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	text-align: center;
}

.about__box {
	background-color: var(--eduguide_blue);
}
.container {
    width:100%;
    max-width:2000px;
    /* border:2px solid black; */
    margin: 0 auto;
    padding:10px;
	height:100%;
	max-height: 2000px;
}
.row {
    height:300px; /*set height*/
    /* border:2px solid blue; */
    width:100%;
    margin-bottom:10px;
    padding:10px;
}
.col-half {
	text-align: center;
	
    /* border:2px solid green; */
    width:50%;
    float:left;
    height:100%;
     
}
.container-profile{
	width:75%;
    max-width:2000px;
    /* border:2px solid black; */
    margin: 0 auto;
    padding:10px;
	height:100%;
	max-height: 2000px;
}
.row-profile{
	height:300px; /*set height*/
    /* border:2px solid blue; */
    width:75%;
    margin-bottom:10px;
   
}
.col-myprofile {
	/* text-align: center; */
	
    /* border:2px solid green; */
    width:50%;
    float:left;
    height:100%;
     
}
.col-myprofile img {
	/* text-align: center; */
	
    /* border:2px solid green; */
   margin-top: 20px;
   margin-left: 50px;
     
}
.col-mypassword {
	/* text-align: center; */
	
    /* border:2px solid green; */
	width:33%;
    float:left;
    height:100%;
}

.col2 {
	text-align: center;
	
    /* border:2px solid green; */
    width:25%;
    float:left;
    height:100%;
     
}

.col2 img{
    /* border:2px solid green; */
    /* margin-left: 5%; */
		width: 70%;
		height: 100%;
		margin-top: 2.5%;
}
.faqs-mobile {
	display: none;
}

@media screen and (max-width: 500px) {
	.blog-field {
		
		width: 90%;
		height: 50px;
		font-size: 15px;
		
	}
	a {
		font-size: 15px;
	}
	.faqsbox {
		margin-left: auto;
    margin-right: auto;
		width : 90%;
	}
	.faqstable {
		display: none;
	}
	.faqs-mobile {
		display: block;
	}
	.card-br{
		display: block;
	}
	.social-icons {
		display: inline-block;
		margin-left: 1%;
		width: 20%;
	}
	.feed-back-label{
		
		font-size: 20px;
	}
	
	.sub-btn {
		height: 50px;
		width: 150px;
		font-family: Ruda;
		font-size: 30px;
		background-color: var(--eduguide_orange);
		color: var(--eduguide_blue);
		padding: 0.5vw 2vw;
		border: none;
		border-radius: 3vw;
		font-weight: 600;
	}
	.contact-field {
		font-size: 16px;
		color: var(--eduguide_blue);
		width: 90%;
		height: 70px;
		border: thick;
		border-color: var(--eduguide_blue);
		border-style: solid;
		text-align: initial;
	}
	h6 {
		font-family: Ruda;
		font-size: 30px;
		/* margin: -4vw; */
		color: var(--eduguide_blue);
		text-align: center;
	}
	.col2 {
		text-align: center;
		/* border:2px solid green; */
		width:50%;
		float:left;
		height:50%;
		 
	}
	.devs strong{
		font-size: 10px;
	}
	
	.devs img {
		/* margin-left: 5%; */
		width: 80%;
		height: 80%;
		margin-top: 2.5%;
	}
	.about__link {
		cursor: pointer;
		font-size: 20px;
		transition: 0.2s;
		text-decoration: none;
		margin-top: -9vw;
		color: white;
	}
	.card-size{
		height: 100%;
	}
	h1 {
		/* display: absolute; */
		font-family: Ruda;
		font-size: 50px;
		color: var(--eduguide_blue) !important;
		text-align: center;
		margin-top: 2%;
		margin-bottom: -0.1%;
		font-weight: 600 !important;
	}
	p {
		font-family: Ruda;
		font-size: 15px;
		color: var(--eduguide_blue) !important;
		text-align: center;
		margin-top: 2.5%;
		font-weight: 400 !important;
	}
	.test-btn {
		
		font-size: 25px;
		background-color: var(--eduguide_blue);
		color: var(--eduguide_orange);
		padding: 0.9vw 2vw;
		border: none;
	}
	.field{
		width: 80%;
		height: 50px;
		font-size: 40px;
	}
	.field-input{
		width: 80%;
		height: 50px;
		font-size: 40px;
		margin-left: 10%;
	}
	.form-alignment{
		width: 100%;
		float: "center";
	}
	.commicon img{
		/* position: absolute; */
		height: 120px;
		width: 150px;
		/* margin-bottom: 100%; */
		/* margin-left: 20%; */
		/* margin-right: auto; */
	}
	.commicon {
		position: absolute;
		width: 140px;
		float: center;
		/* margin-top: 10px;
		margin-left: 10px; */
	}
	
	.commfield {
		font-size: 20px;
		color: var(--eduguide_blue);
		width: 90%;
		height: 70px;
		margin-top: 30%;
		margin-left: 5%;
		margin-right: 5%;
		border: thin;
		border-color: var(--eduguide_blue);
		border-style: solid;
		text-align: initial;
		
	}
	
}