.user-table {
  border-collapse: collapse;
  width: 100%;
}

.admin-td,
.table-header {
  border: 1px solid var(--eduguide_blue);
  text-align: center;
  padding: 8px;
}

.table-header {
  background-color: #ffb772;
  color: black;
  text-align: center;
}

.del-btn {
  font-size: 1vw;
  background-color: #ee5858;
  color: white;
  padding: 0.5vw 2vw;
  border: none;
  border-radius: 3vw;
  font-weight: 600;
  text-decoration: none;
}
.dash-board-card{
  margin-bottom: 30px;
  width: 45%;
  cursor: pointer;
  padding: 30px;
  height: 100px;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(241, 147, 54, 0.53);
}
.dash-board-card-dash{
  margin-bottom: 30px;
  width: 45%;
  cursor: pointer;
  padding: 30px;
  height: 250px;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(241, 147, 54, 0.53);
}
.dash-board-card-dash img{
height: 100px;
}
.dash-row{
  height:70px; /*set height*/
    /* border:2px solid blue; */
    width:100%;
    margin-bottom:10px;
    padding:10px;
}
.dash-col {
	text-align: center;
	
    /* border:2px solid green; */
    width:50%;
    float:left;
    height:100%;
     
}
.num-border{
  font-size: 50px;
  /* height: 250px; */
  border: 8px solid black;
  border-radius: 10px;
  padding: 20px;
  /* border: block black; */
}
